<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>cpnfnerggb@tznvy.pbz</string>
	<key>contactName</key>
	<string>Paulo Luis Franchini Casaretto</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>pcasaretto</string>
	<key>uuid</key>
	<string>FABD92FC-5D6A-4844-BFB9-D0AFBDA3DBF9</string>
</dict>
</plist>
